/* open browser css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* close browser css reset */
#popup_box {
    display:none; /* onzichtbaar maken in de functie in jquery zet ik de opacity weer omhoog*/
    position:fixed;
    height: auto;
    width:30%;
    background: #181818;
    left: 25%;
    top: 25%;
    z-index:100; /* layer met een index van 100 misschien een beetje overdreven */
    margin-left: 15px;
    /* border + shadow */
    border:1px solid #000000;
    padding:10px;
    font-size:11px;
    -moz-box-shadow: 0 0 5px #1b1b1e;
    -webkit-box-shadow: 0 0 5px #1b1b1e;
    box-shadow: 0 0 5px #1b1b1e;
}
#mainpage {
    background: #aeaeae;
    width:100%;
    height:100%;
    margin: 1px;
    padding: 10px;
}
a{
    cursor: pointer;
    text-decoration:none;
}
#closepopup {
    font-size:10px;
    line-height:15px;
    right:10px;
    top:5px;
    position:absolute;
    color: #00bce2;
    font-weight:500;
}
.panel {
    margin: 0 auto;
    width: 130px;
    height: 130px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: relative;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/* flip menu */
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
.image, .tekst, .video {
    float: left;
    position: relative;
}
img.resize {
    display: block;
    position: relative;
}
.front, .back, .pad {
    position: relative;
}
h1 {
    font-family: Arial;
    padding: 10px;
}
#popup_box h1, p {
    color: #6e6e6e;
    font-weight: bold;
    font-family: Arial;
    padding: 10px;
    font-size: 20px;
}
form.p {
    color: #6e6e6e;
    font-weight: bold;
    font-family: Arial;
    padding: 20px;
    font-size: 15px;
}
#mainpage {
    width: 100%;
    height: 100%;
}
#upload-form-image {

}
#aids {
    display: none;
}